<div class="home-repair-install-price-list">
	<header class="com-header">
		<div class="action">
			<a class="back" href="javascript:window.history.go(-1);"></a>
		</div>
		<span class="title">
           参考价格
        </span>
	</header>
	<div class="price-tab-list">
		<!--<div class="no-price">-->
			<!--<img class="msg-img" src="../../../static/images/repair/reference/dingdan.png" alt="">-->
			<!--<p>暂无参考价格</p>-->
		<!--</div>-->
		<!--电视机-->
		<table class="price-tab js-type-2" data-type="电视" data-order-type="2" data-id="3">
			<caption class="tab-title">电视</caption>
			<thead>
				<tr>
					<th class="tab-cell tab-col-1">规格</th>
					<th class="tab-cell tab-col-2">检测费</th>
					<th class="tab-cell tab-col-3">维修费</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tab-cell tab-col-1">上门费</td>
					<td class="tab-cell tab-col-2">检测报价后，用户主动放弃维修后收取</td>
					<td class="tab-cell tab-col-3">￥30</td>
				</tr>
				<tr>
					<td class="tab-cell tab-col-1">14-21英寸</td>
					<td class="tab-cell tab-col-2">￥40</td>
					<td class="tab-cell tab-col-3">￥50</td>
				</tr>
				<tr>
					<td class="tab-cell tab-col-1">25英寸</td>
					<td class="tab-cell tab-col-2">￥40</td>
					<td class="tab-cell tab-col-3">￥70</td>
				</tr>
				<tr>
					<td class="tab-cell tab-col-1">28～29英寸</td>
					<td class="tab-cell tab-col-2">￥40</td>
					<td class="tab-cell tab-col-3">￥80</td>
				</tr>
				<tr>
					<td class="tab-cell tab-col-1">30英寸以上</td>
					<td class="tab-cell tab-col-2">￥40</td>
					<td class="tab-cell tab-col-3">￥100</td>
				</tr>
				<tr>
					<td class="tab-cell tab-col-1">20寸及以下</td>
					<td class="tab-cell tab-col-2">￥40</td>
					<td class="tab-cell tab-col-3">￥110</td>
				</tr>
				<tr>
					<td class="tab-cell tab-col-1">21～29英寸</td>
					<td class="tab-cell tab-col-2">￥40</td>
					<td class="tab-cell tab-col-3">￥130</td>
				</tr><tr>
					<td class="tab-cell tab-col-1">30～34英寸</td>
					<td class="tab-cell tab-col-2">￥40</td>
					<td class="tab-cell tab-col-3">￥160</td>
				</tr>
				<tr>
					<td class="tab-cell tab-col-1">35～39英寸</td>
					<td class="tab-cell tab-col-2">￥40</td>
					<td class="tab-cell tab-col-3">￥180</td>
				</tr>
				<tr>
					<td class="tab-cell tab-col-1">40～44英寸</td>
					<td class="tab-cell tab-col-2">￥40</td>
					<td class="tab-cell tab-col-3">￥210</td>
				</tr>
				<tr>
					<td class="tab-cell tab-col-1">45～49英寸</td>
					<td class="tab-cell tab-col-2">￥40</td>
					<td class="tab-cell tab-col-3">￥240</td>
				</tr>
				<tr>
					<td class="tab-cell tab-col-1">50～65英寸</td>
					<td class="tab-cell tab-col-2">￥40</td>
					<td class="tab-cell tab-col-3">￥300</td>
				</tr>

				<tr>
					<td class="tab-cell tab-col-1">65英寸以上</td>
					<td class="tab-cell tab-col-2">￥200</td>
					<td class="tab-cell tab-col-3">￥380</td>
				</tr>
				<tr>
					<td class="tab-cell tab-cell-desc" colspan="3">
						<p>1、检测费是指是工程师已检测出故障原因，能够修复而消费者主动提出不修时，向消费者收取的相应劳务费用，维修后不收取；</p>
						<p>2、维修费不含配件费；</p>
						<p>3、收费标准以当地行业协会为准。</p>
					</td>
				</tr>

			</tbody>
		</table>
		<!--油烟机-->
		<table class="price-tab js-type-2" data-type="油烟机" data-order-type="2" data-id="17">
			<caption class="tab-title">油烟机</caption>
			<thead>
			<tr>
				<th class="tab-cell tab-col-1">维修等级</th>
				<th class="tab-cell tab-col-2">维修项目</th>
				<th class="tab-cell tab-col-3">维修费</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td class="tab-cell tab-col-1">上门费</td>
				<td class="tab-cell tab-col-2">检测报价后，用户主动放弃维修后收取</td>
				<td class="tab-cell tab-col-3">￥30</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-1" rowspan="7">小修</td>
				<td class="tab-cell tab-col-2">更换灯管</td>
				<td class="tab-cell tab-col-3" rowspan="7">￥60</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">电源线</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">按键贴膜</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">线路接触不良</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">调整紧固风轮螺丝</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">调整档风板正常开合</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">更换清洗管路水管</td>
			</tr>

			<tr>
				<td class="tab-cell tab-col-1" rowspan="6">中修</td>
				<td class="tab-cell tab-col-2">拆机重装调整高度</td>
				<td class="tab-cell tab-col-3" rowspan="6">￥72</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">拆机处理漏油</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">更换止回阀</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">更换自动门组件</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">变压器</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">电机电容</td>
			</tr>

			<tr>
				<td class="tab-cell tab-col-1" rowspan="8">大修</td>
				<td class="tab-cell tab-col-2">更换电机</td>
				<td class="tab-cell tab-col-3" rowspan="8">￥85</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">电脑主板</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">电源板</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">传感器</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">风轮</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">玻璃面板</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">清洗水泵</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">镇流器</td>
			</tr>

			<tr>
				<td class="tab-cell tab-cell-desc" colspan="3">
					<p>1、检测费是指是工程师已检测出故障原因，能够修复而消费者主动提出不修时，向消费者收取的相应劳务费用，维修后不收取；</p>
					<p>2、维修费不含配件费；</p>
					<p>3、收费标准以当地行业协会为准。</p>
				</td>
			</tr>

			</tbody>
		</table>
		<!--燃气灶-->
		<table class="price-tab js-type-2" data-type="燃气灶" data-order-type="2" data-id="21">
			<caption class="tab-title">燃气灶</caption>
			<thead>
			<tr>
				<th class="tab-cell tab-col-1">规格</th>
				<th class="tab-cell tab-col-2">检测费</th>
				<th class="tab-cell tab-col-3">维修费</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td class="tab-cell tab-col-1">上门费</td>
				<td class="tab-cell tab-col-2">检测报价后，用户主动放弃维修后收取</td>
				<td class="tab-cell tab-col-3">￥30</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-1" rowspan="8">小修</td>
				<td class="tab-cell tab-col-2">更换点火针</td>
				<td class="tab-cell tab-col-3" rowspan="8">￥60</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">热电偶</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">开关旋纽</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">电池盒</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">减压阀</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">微动开关</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">火盖</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">疏通气管路</td>
			</tr>

			<tr>
				<td class="tab-cell tab-col-1" rowspan="1">中修</td>
				<td class="tab-cell tab-col-2">燃烧器</td>
				<td class="tab-cell tab-col-3" rowspan="1">￥72</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-1" rowspan="6">大修</td>
				<td class="tab-cell tab-col-2">更换台面</td>
				<td class="tab-cell tab-col-3" rowspan="6">￥84</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">开关控制总成</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">电磁阀</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">喷嘴</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">脉冲点火器</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">内气管</td>
			</tr>

			<tr>
				<td class="tab-cell tab-cell-desc" colspan="3">
					<p>1、检测费是指是工程师已检测出故障原因，能够修复而消费者主动提出不修时，向消费者收取的相应劳务费用，维修后不收取；</p>
					<p>2、维修费不含配件费；</p>
					<p>3、收费标准以当地行业协会为准。</p>
				</td>
			</tr>

			</tbody>
		</table>

		<!--洗衣机-->
		<table class="price-tab js-type-2" data-type="洗衣机" data-order-type="2" data-id="12">
			<caption class="tab-title">滚筒洗衣机维修</caption>
			<thead>
			<tr>
				<th class="tab-cell tab-col-1">维修等级</th>
				<th class="tab-cell tab-col-2" colspan="2">对应项目</th>
				<th class="tab-cell tab-col-3">维修费</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td class="tab-cell tab-col-1">上门费</td>
				<td class="tab-cell tab-col-2" colspan="2">检测报价后，用户主动放弃维修后收取</td>
				<td class="tab-cell tab-col-3">￥30</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-1">小修</td>
				<td class="tab-cell tab-col-2" colspan="2">其它维修、更换、修补、调整等更换大、中修以外的其它配件</td>
				<td class="tab-cell tab-col-3">￥50</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-1" rowspan="11">中修</td>
				<td class="tab-cell tab-col-2" rowspan="11">更换</td>
				<td class="tab-cell tab-col-2">电机</td>
				<td class="tab-cell tab-col-3" rowspan="11">￥84</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">电脑板</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">控制面板</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">线束</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">排水泵</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">加热器</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">减震器</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">外桶轴承密封圈</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">外桶盖</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">程控器</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">变频器</td>
			</tr>

			<tr>
				<td class="tab-cell tab-col-1" rowspan="5">大修</td>
				<td class="tab-cell tab-col-2" rowspan="5">更换</td>
				<td class="tab-cell tab-col-2">外筒/内筒</td>
				<td class="tab-cell tab-col-3" rowspan="5">￥100</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">外筒轴承</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">箱体</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">外桶轴承密封圈</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">线束</td>
			</tr>

			<tr>
				<td class="tab-cell tab-col-1" rowspan="2">搬运费</td>
				<td class="tab-cell tab-col-2" colspan="2">仅大修拉修机器搬运</td>
				<td class="tab-cell tab-col-3">￥50</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2" colspan="2">大修拉修机器搬运且提供周转机</td>
				<td class="tab-cell tab-col-3">不提供</td>
			</tr>

			<tr>
				<td class="tab-cell tab-cell-desc" colspan="4">
					<p>1、上门检测,鉴定,上门费,收上门费30元；</p>
					<p>2、上门检测内容：检测无故障，检测退换货，检测不维修，人工操作排除故障；</p>
					<p>3、同一次维修，维修多个项目，按单项最高维修人工费标准结算；</p>
					<p>4、维修费不含配件费；</p>
					<p>5、收费标准以当地行业协会为准。</p>
				</td>
			</tr>

			</tbody>
		</table>

		<!--冰箱-->
		<table class="price-tab js-type-2" data-type="冰箱" data-order-type="2" data-id="2">
			<caption class="tab-title">冰箱冰柜维修</caption>
			<thead>
			<tr>
				<th class="tab-cell tab-col-1">维修等级</th>
				<th class="tab-cell tab-col-2" colspan="2">对应项目</th>
				<th class="tab-cell tab-col-3">维修费</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td class="tab-cell tab-col-1">上门费</td>
				<td class="tab-cell tab-col-2" colspan="2">检测报价后，用户主动放弃维修后收取</td>
				<td class="tab-cell tab-col-3">30元</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-1" rowspan="4">小修</td>
				<td class="tab-cell tab-col-2" colspan="2">调整</td>
				<td class="tab-cell tab-col-3" rowspan="4">￥70</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2" colspan="2">修补</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2" colspan="2">更换</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2" colspan="2">其它维修</td>
			</tr>

			<tr>
				<td class="tab-cell tab-col-1" rowspan="2">中修</td>
				<td class="tab-cell tab-col-2" rowspan="2">更换</td>
				<td class="tab-cell tab-col-2">门内胆</td>
				<td class="tab-cell tab-col-3" rowspan="2">￥100</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">箱内胆</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-1" rowspan="11">大修</td>
				<td class="tab-cell tab-col-2" rowspan="7">更换</td>
				<td class="tab-cell tab-col-2">压缩机</td>
				<td class="tab-cell tab-col-3" rowspan="11">￥100</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2" >冷凝器</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2" >毛细管</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2" >过滤器</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2" >电磁阀</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2" >蒸发器</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2" >箱体</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2" rowspan="4">维修</td>
				<td class="tab-cell tab-col-2" >脏堵</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2" >冰堵</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2" >检漏</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2" >补焊</td>
			</tr>

			<tr>
				<td class="tab-cell tab-col-1" >特大修</td>
				<td class="tab-cell tab-col-2" colspan="2">需整机拉回、开背、高压漏外挂冷凝器等特大修类</td>
				<td class="tab-cell tab-col-3" >￥220</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-1" rowspan="3">搬运费</td>
				<td class="tab-cell tab-col-2" colspan="2">仅大修拉修机器搬运，300L以下</td>
				<td class="tab-cell tab-col-3" >￥90</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2" colspan="2">仅大修拉修机器搬运，300L以上</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2" colspan="2">大修拉修机器搬运且提供周转机</td>
			</tr>


			<tr>
				<td class="tab-cell tab-cell-desc" colspan="4">
					<p>1、上门检测,鉴定,上门费,收上门费30元；</p>
					<p>2、上门检测内容：检测无故障，检测退换货，检测不维修，人工操作排除故障；</p>
					<p>3、同一次维修，维修多个项目，按单项最高维修人工费标准结算；</p>
					<p>4、维修费不含配件费；</p>
					<p>5、收费标准以当地行业协会为准。</p>
				</td>
			</tr>

			</tbody>
		</table>

		<!--空调-->
		<table class="price-tab js-type-2" data-type="空调" data-order-type="2" data-id="7">
			<caption class="tab-title">空调维修收费价目表</caption>
			<thead>
			<tr>
				<th class="tab-cell tab-col-1">级别</th>
				<th class="tab-cell tab-col-2">作业方式及内容</th>
				<th class="tab-cell tab-col-3">维修服务费</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td class="tab-cell tab-col-1" rowspan="4">大修</td>
				<td class="tab-cell tab-col-2">更换系统部件(四通阀、毛细管、压缩机等)</td>
				<td class="tab-cell tab-col-3" rowspan="4">200~600</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">拉回维修车间修理</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">更换压机</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">四通阀</td>
			</tr>

			<tr>
				<td class="tab-cell tab-col-1" rowspan="7">中修</td>
				<td class="tab-cell tab-col-2">查出漏点并加制冷剂(包括连接管内漏的处理)</td>
				<td class="tab-cell tab-col-3" rowspan="7">新冷媒（R410A）￥120~￥600<br>氟利昂（R22）￥120~￥250</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">排堵添加制冷剂</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">更换阀门</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">过滤器</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">蒸发器加制冷剂</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">更换风扇电机</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">空调内漏(连接管道漏除外）并添加制冷剂</td>
			</tr>

			<tr>
				<td class="tab-cell tab-col-1" rowspan="14">小修</td>
				<td class="tab-cell tab-col-2">更换选择开关</td>
				<td class="tab-cell tab-col-3" rowspan="14">变频￥80~￥200<br>定频￥80~￥110</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">转换开关</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">电容器、电源板</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">风叶(轴流、线流)</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">步进电机</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">温控器、温控探头</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">温度保护器、压机热保</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">接受器、显示器</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">开关板、线控器</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">变压器、继电器</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">外观配件和维修噪音</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">更换内外机电脑板</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">操作控制板</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">更换交流接触器、热继电器。</td>
			</tr>

			<tr>
				<td class="tab-cell tab-col-1" rowspan="2">小修</td>
				<td class="tab-cell tab-col-2">包扎管道</td>
				<td class="tab-cell tab-col-3" rowspan="2">80元</td>
			</tr>
			<tr>
				<td class="tab-cell tab-col-2">如接触不良</td>
			</tr>

			<tr>
				<td class="tab-cell tab-cell-desc" colspan="3">
					<p>说明：</p>
					<p>上述维修为劳务费报价，涉及配件另行收费，多个项目维修按最高一个项目收费。</p>
				</td>
			</tr>
			</tbody>
		</table>

		<!--<table class="price-tab js-type-3" data-type="空调" data-order-type="3" data-id="7">-->
			<!--<caption class="tab-title">空调类安装收费价格表</caption>-->
			<!--<thead>-->
			<!--<tr>-->
				<!--<th class="tab-cell tab-col-1" colspan="2">项目</th>-->
				<!--<th class="tab-cell tab-col-2">单位</th>-->
				<!--<th class="tab-cell tab-col-2">家用挂式空调</th>-->
				<!--<th class="tab-cell tab-col-2">家用柜式空调</th>-->
				<!--<th class="tab-cell tab-col-2">商用机</th>-->
			<!--</tr>-->
			<!--</thead>-->
			<!--<tbody>-->
			<!--<tr>-->
				<!--<td class="tab-cell tab-col-2" rowspan="5">安装服务费</td>-->
				<!--<td class="tab-cell tab-col-2">安装</td>-->
				<!--<td class="tab-cell tab-col-2">台</td>-->
				<!--<td class="tab-cell tab-col-2">￥160~￥180</td>-->
				<!--<td class="tab-cell tab-col-2">￥220~￥300</td>-->
				<!--<td class="tab-cell tab-col-2">￥450</td>-->
			<!--</tr>-->
			<!--<tr>-->
				<!--<td class="tab-cell tab-col-2">拆机</td>-->
				<!--<td class="tab-cell tab-col-2">台</td>-->
				<!--<td class="tab-cell tab-col-2">￥100</td>-->
				<!--<td class="tab-cell tab-col-2">￥150~￥200</td>-->
				<!--<td class="tab-cell tab-col-2">￥400</td>-->
			<!--</tr>-->
			<!--<tr>-->
				<!--<td class="tab-cell tab-col-2">拆、装内机</td>-->
				<!--<td class="tab-cell tab-col-2">台</td>-->
				<!--<td class="tab-cell tab-col-2">￥120</td>-->
				<!--<td class="tab-cell tab-col-2">￥200~￥230</td>-->
				<!--<td class="tab-cell tab-col-2">￥300</td>-->
			<!--</tr>-->
			<!--<tr>-->
				<!--<td class="tab-cell tab-col-2">拆、装外机</td>-->
				<!--<td class="tab-cell tab-col-2">台</td>-->
				<!--<td class="tab-cell tab-col-2">￥150</td>-->
				<!--<td class="tab-cell tab-col-2">￥250~￥300</td>-->
				<!--<td class="tab-cell tab-col-2">￥450</td>-->
			<!--</tr>-->
			<!--<tr>-->
				<!--<td class="tab-cell tab-col-2">移整机</td>-->
				<!--<td class="tab-cell tab-col-2">台</td>-->
				<!--<td class="tab-cell tab-col-2">￥260</td>-->
				<!--<td class="tab-cell tab-col-2">￥350~￥500</td>-->
				<!--<td class="tab-cell tab-col-2">￥700</td>-->
			<!--</tr>-->
			<!--</tbody>-->
		<!--</table>-->
	</div>
</div>