@charset "UTF-8";
@import "../../variables";
@import "../../utilities";

.home-repair-install-price-list .price-tab-list {
  padding: 0 px2rem(30) px2rem(30) px2rem(30);
}

.home-repair-install-price-list .price-tab-list .no-price {
  text-align: center;
}

.home-repair-install-price-list .price-tab-list .no-price .msg-img {
  width: 30%;
  max-width: px2rem(330);
  margin-top: px2rem(160);
  display: inline-block;
}

.home-repair-install-price-list .price-tab-list .price-tab {
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  margin-top: px2rem(21);
  font-size: px2rem(30);
  color: #666666;
  border-collapse: collapse;
  border: none;
}

.home-repair-install-price-list .price-tab-list .price-tab .tab-title {
  height: px2rem(90);
  line-height: px2rem(90);
  font-size: px2rem(30);
  background-color: #00BCFF;
  color: #ffffff;
  padding: 0;
  text-align: center;
}

.home-repair-install-price-list .price-tab-list .price-tab .tab-cell {
  padding: px2rem(24) 0;
  line-height: px2rem(40);
  font-size: px2rem(28);
  color: #666666;
  font-weight: inherit;
  border: 1px solid #cbcbcb;
  text-align: center;
}

.home-repair-install-price-list .price-tab-list .price-tab .tab-cell.tab-col-1 {
  width: 24%;
}

.home-repair-install-price-list .price-tab-list .price-tab .tab-cell.tab-col-3 {
  width: 24%;
}

.home-repair-install-price-list .price-tab-list .price-tab .tab-cell.tab-cell-desc {
  text-align: left;
  padding: px2rem(24) px2rem(24);
}