@charset "UTF-8";

html {
    font-size: 37.5px;
}

/*@media (min-width: 240px) {
    html {
        font-size: 24px;
    }
}

@media (min-width: 270px) {
    html {
        font-size: 27px;
    }
}*/

@media (min-width: 320px) {
    html {
        font-size: 32px;
    }
}

@media (min-width: 360px) {
    html {
        font-size: 36px;
    }
}

@media (min-width: 375px) {
    html {
        font-size: 37.5px;
    }
}

@media (min-width: 384px) {
    html {
        font-size: 38.4px;
    }
}

@media (min-width: 414px) {
    html {
        font-size: 41.4px;
    }
}