<div class="home-repair-install-desc">
    <header class="com-header">
        <div class="action">
            <a class="back" href="javascript:window.history.go(-1);"></a>
        </div>
        <span class="title">
            一口价说明
        </span>
    </header>
    <div class="home-repair-tip">
        <ol>
            <li>一口价活动：为倾情回馈新老客户，真正解决客户在面临家电维修安装抉择时的各种困境，十分到家全新推出一口价包干服务，让更多的客户认识十分到家、让十分到家口碑服务走进千家万户。</li>
            <li>一口价说明：即一口价包干方式，除特殊配件和服务高空费外，客户更换下单故障任一配件只需收取一口价指定金额，特殊配件说明及价格在对应服务详情中有详尽说明。</li>
            <li>客户支付一口价费用后，如遇工程师上门后不修，需收取30元上门检测费；如需申请退款请拨4008-300-100电话申请。</li>
        </ol>
    </div>
    <div class="slogan"></div>
</div>
