<div class="agreement">
    <header class="com-header">
        <div class="action">
            <a class="back" href="javascript:window.history.go(-1);"></a>
        </div>
        <span class="title">
            服务协议
        </span>
        <!--<div class="info" style="display: none;">-->
        <!--<a id="btn-address-detail-cancel" href="javascript:;" class="text">-->
        <!--取消-->
        <!--</a>-->
        <!--</div>-->
    </header>
    <main class="com-main" style="bottom: 0;">
        <article class="weui_article">
            <h1>汽车玻璃贴膜保障服务理赔条款</h1>
            <section>
                <h2 class="title">一.保障服务责任：</h2>
                <section>
                    <p>1.1 车辆太阳膜意外破损条件必须是太阳膜与车辆玻璃同时出现意外事故后破损，公司负赔偿责任。</p>
                </section>
                <section>
                    <p>1.2 车辆其玻璃在意外事故中单独或全部破损导致太阳膜破损，公司负赔偿责任。</p>
                </section>
            </section>
            <section>
                <h2 class="title">二.责任免除：</h2>
                <section>
                    <p>2.1 保障服务车辆的下列损失，本公司不负赔偿责任。</p>
                </section>
                <section>
                    <p>2.2 遇自然灾害：如：地震，雷击，暴风，龙卷风，洪水，海啸，雹灾，泥石流，滑坡等人力无法抗拒的因素。</p>
                </section>
                <section>
                    <p>2.3 遇火灾，爆炸，外界物体倒塌。</p>
                </section>
                <section>
                    <p>2.4 自然磨损，朽腐，起泡，褪色，破裂。</p>
                </section>
                <section>
                    <p>2.5 车辆停放时自动滑行造成的事故。</p>
                </section>
                <section>
                    <p>2.6 车辆其驾驶员的故意行为。</p>
                </section>
                <section>
                    <p>2.7 车辆停放过程中被小偷砸窗盗取财务导致的太阳膜破损。</p>
                </section>
                <section>
                    <p>2.8 车辆发生其车钥匙被锁车内，驾驶员砸窗行为。</p>
                </section>
                <section>
                    <p>2.9 车辆停放时被其它车辆撞击造成的事故。</p>
                </section>
                <section>
                    <p>2.10 驾驶员在打架斗殴过程中造成的事故或车辆玻璃被砸。</p>
                </section>
                <section>
                    <p>2.11 酒驾，吸毒等违法行为时被警察破窗。</p>
                </section>
            </section>
        </article>
    </main>
</div>