<div class="agreement">
    <header class="com-header">
        <div class="action">
            <a class="back" href="javascript:window.history.go(-1);"></a>
        </div>
        <span class="title">
            服务协议
        </span>
        <!--<div class="info" style="display: none;">-->
        <!--<a id="btn-address-detail-cancel" href="javascript:;" class="text">-->
        <!--取消-->
        <!--</a>-->
        <!--</div>-->
    </header>
    <main class="com-main" style="bottom: 0;">
        <article class="weui_article">
            <!--<h1>汽车玻璃贴膜保障服务理赔条款</h1>-->
            <section>
                <p>
                    本协议由您与湖北同创盛大汽车服务有限公司（以下简称"同创盛大"）共同缔结，本协议具有合同效力。请您在使用同创盛大服务之前认真阅读全部协议内容，如对协议有任何疑问，请向同创盛大咨询。一旦您点选"购买"或"同意服务协议并激活卡片"按钮，即表示您自愿接受本协议之所有条款。
                </p>
            </section>
            <section>
                <h2 class="title">一.定义</h2>
                <section>
                    <p>1. 本协议内容包括协议正文及所有同创盛大已经发布的或将来可能发布的各类规则。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。同创盛大通过其网站提供的相关服务（以下简称"线上服务"）以及通过其合作伙伴提供的服务（以下简称"线下服务"）均受本协议约束。</p>
                </section>
                <section>
                    <p>2. 同创盛大用户分为4S店持卡用户和非4S店持卡用户可享受全部或部分线上服务、线下服务，可享受的具体服务内容由同创盛大根据每个用户的实际情况确定，同创盛大对其所提供之服务拥有最终解释权。</p>
                </section>
                <section>
                    <p>3. 同创盛大通过其网站向其用户提供线上服务，包括但不限于卡片激活、刷卡记录查询、网点查询、业务咨询等，与之相关的设备（如个人电脑、手机、及其他与接入互联网或移动通信网络有关的装置）及所需的费用（如为接入互联网而支付的电话费及上网费,为使用移动通信网络而支付的手机费）均由用户自行负担。</p>
                </section>
            </section>
            <section>
                <h2 class="title">二.保障服务责任</h2>
                <section>
                    <p>1. 车辆的玻璃贴膜意外破损条件必须是玻璃贴膜与对应玻璃同时出现意外事故后破损，同创盛大负赔偿太阳膜责任。</p>
                </section>
                <section>
                    <p>2. 车辆其玻璃在意外事故中单独或全部破损导致玻璃贴膜破损，同创盛大负赔偿责任。</p>
                </section>
                <section>
                    <p>3. 赔偿玻璃贴膜需在同创盛大指定4S店或合作商家处贴膜，材料及工时费由同创盛大负担。</p>
                </section>
            </section>
            <section>
                <h2 class="title">三.免责条款</h2>
                <section>
                    <p>保障服务车辆的下列损失，同创盛大不负赔偿责任：</p>
                </section>
                <section>
                    <p>1. 遇自然灾：地震、雷击、风景、洪水、海啸、雹灾、泥石流、滑坡等人力无法抗拒的因素。</p>
                </section>
                <section>
                    <p>2.	遇火灾、爆炸、外界物体倒塌。</p>
                </section>
                <section>
                    <p>3.	自然磨损、朽腐、起泡、褪色、单独破裂。</p>
                </section>
                <section>
                    <p>4.	车辆停放时自动滑行造成事故。</p>
                </section>
                <section>
                    <p>5.	车辆其驾驶员的故意行为。</p>
                </section>
                <section>
                    <p>6.	车辆停放过程被小偷砸窗盗取财物导致的太阳膜破损。</p>
                </section>
                <section>
                    <p>7.	车辆发生其车钥匙被锁车内，砸窗行为。</p>
                </section>
                <section>
                    <p>8.	车辆停放时被其它车辆发生撞击造成的事故。</p>
                </section>
                <section>
                    <p>9.	驾驶员在打架斗殴过程中造成的事故或车辆玻璃被砸。</p>
                </section>
                <section>
                    <p>10.	酒驾，吸毒等违法行为时被警察破窗。</p>
                </section>
            </section>
            <section>
                <h2 class="title">四.隐私保护</h2>
                <section>
                    <p>同创盛大尊重用户的隐私权，承诺不会公开或泄露任何用户个人资料信息，但以下情况除外：</p>
                </section>
                <section>
                    <p>1.事先获得用户的明确授权；</p>
                </section>
                <section>
                    <p>2.按照相关政府主管部门的合理要求；</p>
                </section>
                <section>
                    <p>3.维护社会公众利益；</p>
                </section>
                <section>
                    <p>4.维护同创盛大的合法权益；</p>
                </section>
                <section>
                    <p>5.符合其他合法要求。</p>
                </section>
            </section>
            <section>
                <h2 class="title">五.法律</h2>
                <section>
                    <p>同创盛大服务条款之效力、解释、执行均适用中华人民共和国法律。如发生争议，应提交至有管辖权之人民法院。</p>
                </section>
            </section>
        </article>
    </main>
</div>