<div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
    <div class="weui_text_area">
        <h2 class="weui_msg_title">支付成功</h2>
        <div class="code">
            <img src="http://www.tcsdcar.com/images/officialwebsite/qrcode_for_gh_dc958df6045d_258.jpg" alt="同创盛大汽车服务微信公众号">
            <div class="code-desc">查询订单，使用优惠，请关注公众号</div>
        </div>
        <div class="weui-flex">
            <div class="weui-flex__item">
                <div class="placeholder1">客服电话：</div>
            </div>
            <div class="weui-flex__item">
                <div class="placeholder2"><a href="tel:02787877977" style="color: #888;">027-87877977</a></div>
            </div>
        </div>
    </div>
    <div class="weui_opr_area">
        <p class="weui_btn_area">
            <a href="brands.html" class="weui_btn weui_btn_primary">确定</a>
            <!--<a href="#" class="weui_btn weui_btn_default">取消</a>-->
        </p>
    </div>
    <!--<div class="weui_extra_area">-->
        <!--<a href="serviceAgreement.html">查看服务协议详情</a>-->
    <!--</div>-->
</div>