<div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
    <div class="weui_text_area">
        <h2 class="weui_msg_title">支付成功</h2>
        <div>
            <div class="order">订单号：<%=orderNo%></div>
        </div>
        <div class="weui-flex">
            <div class="weui-flex__item">
                <div class="placeholder1">服务产品：</div>
            </div>
            <div class="weui-flex__item">
                <div class="placeholder2"><%=brand.name+product.productName%></div>
            </div>
        </div>
        <div class="weui-flex">
            <div class="weui-flex__item">
                <div class="placeholder1">服务时长：</div>
            </div>
            <div class="weui-flex__item">
                <div class="placeholder2"><%=timeLimit%>个月</div>
            </div>
        </div>
    </div>
    <div class="weui_opr_area">
        <p class="weui_btn_area">
            <a href="brands.html" class="weui_btn weui_btn_primary">确定</a>
            <!--<a href="#" class="weui_btn weui_btn_default">取消</a>-->
        </p>
    </div>
    <div class="weui_extra_area">
        <a href="serviceAgreement.html">查看服务协议详情</a>
    </div>
</div>