@charset "UTF-8";
@import "../variables";
@import "../utilities";

.weui_tab_bd_item {
  display: block;
}

/* 4.优惠券
---------------------*/
#vip-yhq {
  padding-bottom: px2rem(150);
  .card {
    height: px2rem(198);
    margin: px2rem(21);
    .card-head {
      background: url('../../images/checkcoupon/yhq_bg_1.png') no-repeat;
      color: #fff;
      background-size: 100% 100%;
      height: 100%;
      width: 33%;
      line-height: px2rem(198);
      text-align: center;
      .num {
        font-size: px2rem(96);
      }
    }
    .card-body {
      height: 100%;
      text-align: left;
      padding: px2rem(24) px2rem(21);
      background: #fff;
      .card-info {
        position: relative;
        height: 100%;
        .card-title {
          font-size: px2rem(29);
          color: #666;
          span {
            vertical-align: middle;
          }
          .card-flag {
            font-size: px2rem(24);
            color: #fff;
            display: inline-block;
            background: #ff9900;
            border-radius: 4px;
            margin-right: px2rem(12);
            padding: 0 px2rem(6);
          }
        }
        .card-desc {
          font-size: px2rem(29);
          color: #666;
        }
        .card-time {
          color: #666;
          font-size: px2rem(21);
          position: absolute;
          bottom: 0;
        }
      }
      .card-btn {
        display: block;
        position: absolute;
        top: 50%;
        right: px2rem(15);
        margin-top: px2rem(-30);
        height: px2rem(60);
        img {
          height: 100%;
          display: block;
        }
      }
    }

  }

  .yhq-none {
    .img-wrapper {
      margin-top: 20%;
      img {
        width: 30%;
      }
    }
    p {
      color: #999;
    }
  }

  .load-more {
    margin: px2rem(30);
    .btn {
      background: $primary;
      border-radius: px2rem(12);
      padding: px2rem(15);
      display: inline-block;
      width: 100%;
      color: #fff;
      text-align: center;
      font-size: px2rem(33);
    }
  }
  .link-row {
    margin-top: px2rem(60);
    .link-cell {
      font-size: px2rem(29);
      color: #999;
      position: relative;
      &:after {
        width: 1px;
        border-right: 1px solid #999;
        transform-origin: 0 100%;
        -webkit-transform: scaleX(0.5);
        transform: scaleX(0.5);
        content: " ";
        position: absolute;
        -webkit-transform-origin: 0 100%;
        top: 0;
        bottom: 0;
        right: -1px;
      }
      &:first-child {
        padding-right: px2rem(42);
      }
      &:last-child {
        padding-left: px2rem(42);
        &:after {
          border-right: none;
        }
      }
    }

  }
  .text-center {
    text-align: center !important;
  }
  .js-to-yhq-history {
    display: none;
  }
}

.mask-container {
  .mask-bg {
    background: rgba(0, 0, 0, .6);
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .dialog {
    position: fixed;
    z-index: 101;
    width: 85%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 3px;
    height: auto;
  }
  .click-img {
    position: fixed;
    top: 0;
    right: px2rem(33);
    z-index: 101;
    width: 100%;
    max-width: px2rem(300);
  }
  .box {
    background: #fff;
    border-radius: px2rem(13);
    .box-heading {
      padding: px2rem(24);
      border-bottom: 1px solid #ccc;
      .heading-title {
        font-size: px2rem(33);
        color: #333;
        position: relative;
        overflow: hidden;
        .close-img {
          width: px2rem(33);
          height: px2rem(33);
          position: absolute;
          right: 0;
          top: px2rem(6);
        }
      }
    }
    .box-body {
      padding: px2rem(30) px2rem(42) px2rem(0) px2rem(42);
      font-size: px2rem(24);
      color: #666;
      .no-code-tips{
        color: #FF5722;
        font-size: px2rem(30);
        margin-top: px2rem(10);
        margin-bottom: px2rem(10);
        visibility: hidden;
      }
    }
  }

  .rule-list {
    text-align: justify;
  }
  .gray {
    color: #999;
  }

}

.flex {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.shopcode {
  height: 50px;
  border: 1px #ccc solid;
  width: 80%;
  font-size: px2rem(36);
  color: #333;
  text-align: center;
}

.weui-btn-area {
  //padding: ;
  padding-right: px2rem(50);
  padding-left: px2rem(50);
  padding-bottom: px2rem(20);
}

.weui-btn_primary {
  background-color: #1AAD19;
}

.weui-btn {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 2.55555556;
  border-radius: 5px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}
.weui-btn:after {
  content: " ";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  box-sizing: border-box;
  border-radius: 10px;
}