<div class="checkorderlist">
    <main class="com-main" style="bottom: 0;top: 0">
        <br>
        <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">付款金额</label>
                    <em class="weui-form-preview__value">¥0.00</em>
                </div>
            </div>
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">商品</label>
                    <span class="weui-form-preview__value">电动打蛋机</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">订单号</label>
                    <span class="weui-form-preview__value">电动打蛋机</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">订单状态</label>
                    <span class="weui-form-preview__value">质保中</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">购买渠道</label>
                    <span class="weui-form-preview__value">名字名字名字</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">购买日期</label>
                    <span class="weui-form-preview__value">名字名字名字</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">服务开始时间</label>
                    <span class="weui-form-preview__value">很长很长的名字</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">服务结束时间</label>
                    <span class="weui-form-preview__value">很长很长的名字</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">服务时长</label>
                    <span class="weui-form-preview__value">很长很长的名字</span>
                </div>
            </div>
            <div class="weui-form-preview__ft">
                <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">操作</a>
            </div>
        </div>
        <br>
    </main>
</div>
