@charset "UTF-8";
@import "../variables";
@import "../utilities";
.page-address {
  .com-main {
    bottom: 0;
    //top: 0;
  }
  .sf-cells {
    margin-top: px2rem(20);
  }
  .address-title {
    margin: 0;
    color: #222;
    line-height: px2rem(44);
    font-size: 16px;
  }
  .address-item {
    cursor: pointer;
  }
  .address-desc {
    margin: px2rem(24) 0 0;
    color: #AAA;
    line-height: px2rem(48);
  }
  .action-list .action-edit,
  .action-list .action-del {
    width: px2rem(84);
    height: px2rem(84);
    line-height: px2rem(84);
    text-align: center;
    cursor: pointer;
  }
  .action-list .action-edit .img,
  .action-list .action-del .img {
    display: inline-block;
    width: px2rem(60);
    height: px2rem(60);
    vertical-align: middle;
    background: url("../../images/icon-me-address-action.png") 0 0 no-repeat;
    background-size: 200%;
  }
  .action-list .action-edit .img:active,
  .action-list .action-del .img:active {
    background-position-y: px2rem(-60);
  }
  .action-list .action-del .img {
    background-position: px2rem(-60) 0;
  }
  .address-add {
    color: #AAA;
    cursor: pointer;
  }
  .address-add p {
    margin: 0;
    line-height: 22px;
  }
  .color-primary {
    margin-right: px2rem(10);
    color: #0BF;
  }
}

.page-address-edit {
  //.com-main {
  //    top: 0;
  //}
  .action-bottom {
    margin-top: px2rem(20);
  }
  .sf-cells {
    margin-top: px2rem(20);
  }
  .address-form {
    font-size: 16px;
  }
  .address-form .sf-cell-hd label {
    display: block;
    width: auto;
    min-width: 96px;
    line-height: 22px;
    color: #888;
  }
  .code {
    color: #0BF;
  }
}