<div class="checkorderlist">
    <main class="com-main" style="bottom: 0;top: 0">
        <div id="vip-yhq" class="weui_tab_bd_item">
            <div class="container">
                <div class="panel">
                    <div class="panel-body info-wrapper">
                    </div>
                </div>
            </div>
            <div class="yhq-none none-wrapper text-center hide">
                <div class="img-wrapper">
                </div>
                <p>暂无可用优惠券！</p>
            </div>
            <div class="text-center link-row">
                <a class="link-cell js-to-yhq-history" href="javascript:;">历史优惠券</a>
                <a class="link-cell js-to-yhq-rule" href="javascript:;">优惠券说明</a>
            </div>
        </div>
        <br>
        <div class="fixed-mask-layer" style="display: none"></div>
        <div class="fixed-bottom-form" style="display: none">
            <div class="commit_div">
                <p class="description">请输入使用该优惠券的店铺编码</p>
                <div class="commit_zxyy">
                    <span class="input_title">店铺编码：</span>
                    <div class="commit_zxyy_content">
                        <input name="shopcode" type="text" class="xxdz" placeholder="请输入店铺编码使用优惠">
                    </div>
                </div>
                <input type="button" value="取消" class="cancel">
                <input type="submit" value="确定" class="submit">
            </div>
        </div>

        <div class="mask-container use-yhq hide">
            <div class="mask-bg"></div>
            <div class="dialog">
                <div class="box">
                    <div class="box-heading">
                        <div class="heading-title">
                            <span>使用优惠券的店铺</span>
                            <img class="close-img js-close-rule" src="static/images/checkcoupon/close.png">
                        </div>
                    </div>
                    <div class="box-body">
                        <input class="shopcode" type="text" placeholder="请输入店铺编码">
                        <p class="no-code-tips">请填写店铺编码</p>
                    </div>
                    <div class="weui-btn-area">
                        <a class="weui-btn weui-btn_primary submit" href="javascript:" id="showTooltips">确定</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mask-container rule-container hide">
            <div class="mask-bg"></div>
            <div class="dialog">
                <div class="box">
                    <div class="box-heading">
                        <div class="heading-title">
                            <span>优惠券说明</span>
                            <img class="close-img js-close-rule" src="static/images/checkcoupon/close.png">
                        </div>
                    </div>
                    <div class="box-body tips">
                        <div class="rule-list">
                            <p>1、每个订单只能使用一张优惠券，无法与其它优惠券或者优惠码同时使用；</p>
                            <p>2、优惠券不设找零、不折现，仅限使用一次；</p>
                            <p>3、如使用后发生退款，优惠券不作为退款款项；</p>
                            <p>4、优惠券仅限在同创盛大汽车服务公众号兑换使用；</p>
                            <p>5、本活动最终解释权归同创盛大汽车服务所有。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<div class="weui_dialog_alert hide">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">提示</strong></div>
        <div class="weui_dialog_bd"></div>
        <div class="weui_dialog_ft">
            <a href="#" class="weui_btn_dialog primary">确定</a>
        </div>
    </div>
</div>
<div id="loadingToast" class="weui_loading_toast hide">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <!-- :) -->
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">数据加载中</p>
    </div>
</div>
