<%
 var content = data.content;
 %>
<div class="checkorderlist">
    <main class="com-main" style="bottom: 0;top: 0">
        <div id="vip-yhq" class="weui_tab_bd_item">
            <div class="container">
                <div class="panel">
                    <div class="panel-body info-wrapper">
                        <%
                        for(var i = 0;i < content.length;i++){
                            var y = content[i];
                        %>
                        <div class="flex card">
                            <div class="card-head">
                                <span>￥</span>
                                <span class="num">20</span>
                                <span></span>
                            </div>
                            <div class="card-body flex-1">
                                <div class="card-info">
                                    <p class="card-title">
                                        <span class="card-flag">直减券</span>
                                        <span>DU</span>
                                    </p>
                                    <p class="card-desc"></p>
                                    <p class="card-time">2017-06-14至2018-06-22</p>
                                </div>
                                <a class="card-btn js-use-my-yhq" href="javascript:;" data-json="">
                                    <img src="../../images/checkcoupon/yhq-use-btn.png">
                                </a>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="yhq-none none-wrapper text-center hide">
                <div class="img-wrapper">
                </div>
                <p>暂无可用优惠券！</p>
            </div>
            <div class="text-center link-row">
                <a class="link-cell js-to-yhq-history" href="javascript:;">历史优惠券</a>
                <a class="link-cell js-to-yhq-rule" href="javascript:;">优惠券说明</a>
            </div>
        </div>
        <br>
        <div class="fixed-mask-layer" style="display: none"></div>
        <div class="fixed-bottom-form" style="display: none">
            <div class="commit_div">
                <p class="description">请输入使用该优惠券的店铺编码</p>
                <div class="commit_zxyy">
                    <span class="input_title">店铺编码：</span>
                    <div class="commit_zxyy_content">
                        <input name="shopcode" type="text" class="xxdz" placeholder="请输入店铺编码使用优惠">
                    </div>
                </div>
                <input type="button" value="取消" class="cancel">
                <input type="submit" value="确定" class="submit">
            </div>
        </div>
    </main>
</div>
<div id="loadingToast" class="weui_loading_toast hide">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <!-- :) -->
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">数据加载中</p>
    </div>
</div>
