<div class="order">
    <header class="com-header">
        <div class="action">
            <a class="back" href="javascript:window.history.go(-1);"></a>
        </div>
        <span class="title">
            汽车膜质保服务
        </span>
        <!--<div class="info" style="display: none;">-->
        <!--<a id="btn-address-detail-cancel" href="javascript:;" class="text">-->
        <!--取消-->
        <!--</a>-->
        <!--</div>-->
    </header>
    <main class="com-main">
        <div class="banner">
            <img class="banner-img" src="../../static/images/order/qcm_banner.jpg" alt="">
        </div>
    </main>
    <div class="action-bottom">
        <ul class="notification-menu">
            <li>
                <div>
                    <span class="price-title">应收金额：</span>
                    <span class="price-num blue">￥0</span>
                </div>
            </li>
            <li>
                <a id="btn-repair-order" href="javascript:;" class="btn">
                    确定下单
                </a>
            </li>
        </ul>

    </div>
</div>