<div class="order">
    <header class="com-header">
        <div class="action">
            <a class="back" href="javascript:window.history.go(-1);"></a>
        </div>
        <span class="title">
            汽车膜质保服务
        </span>
        <!--<div class="info" style="display: none;">-->
        <!--<a id="btn-address-detail-cancel" href="javascript:;" class="text">-->
        <!--取消-->
        <!--</a>-->
        <!--</div>-->
    </header>
    <main class="com-main">
        <div class="banner">
            <img class="banner-img" src="../../dist/static/images/order/qcm_banner.jpg" alt="">
        </div>
        <div class="discription">
            <p>汽车膜质保服务为汽车膜的保障服务，若您的汽车膜在服务期内出现自然损坏，可以免费维修，保养或更换。</p>
        </div>
        <div class="selected-cartype">
            <span>车型：</span>
            <span><%=brand.name+product.productName%></span>
        </div>
        <div class="select-time">
            <span class="select-time-tips">选择质保时间</span>
            <div class="weui-flex">
                <div class="weui-flex__item"><div class="placeholder one selectd">36期</div></div>
                <div class="weui-flex__item"><div class="placeholder tow">24期</div></div>
                <div class="weui-flex__item"><div class="placeholder three">12期</div></div>
            </div>
            <div class="time-discription time-one">
                质保时间为36个月，超长质保，价格更优，服务更佳！
            </div>
            <div class="time-discription time-tow hide">
                质保时间为24个月，服务周到，省心！
            </div>
            <div class="time-discription time-three hide">
                质保时间为12个月。
            </div>
        </div>
    </main>
    <div class="action-bottom">
        <ul class="notification-menu">
            <li>
                <div>
                    <span class="price-title">金额：</span>
                    <span class="blue">￥</span>
                    <span class="price-num blue"><%=product.thirtySixCyclePrice%></span>
                </div>
            </li>
            <li>
                <a id="btn-repair-order" href="javascript:;" class="btn">
                    确定下单
                </a>
            </li>
        </ul>

    </div>
</div>