@charset "UTF-8";
@import "../variables";
@import "../utilities";

.agreement {
  .com-main{
    background-color: #FFFFFF;
    font-family:微软雅黑;
    section p{
      font-size: 14px;
      color: #666;
    }
  }
}

