<div class="membranePackage">
    <header class="com-header">
        <div class="action">
            <a class="back" href="javascript:window.history.go(-1);"></a>
        </div>
        <span class="title">
            汽车膜套餐
        </span>
        <!--<div class="info" style="display: none;">-->
        <!--<a id="btn-address-detail-cancel" href="javascript:;" class="text">-->
        <!--取消-->
        <!--</a>-->
        <!--</div>-->
    </header>
    <main class="com-main" style="bottom: 0px">
        <div class="weui_grids me-action-list">
            <a href="http://125.93.53.91:31337/app/chat.html?appname=tenant_APPshifen" class="weui_grid">
                <div class="weui_grid_icon">
                    <img src="../static/images/my/zaixiankefu.png" alt="">
                </div>
                <p class="weui_grid_label">
                    在线客服
                </p>
            </a>
            <a href="tel:4008300100" class="weui_grid">
                <div class="weui_grid_icon">
                    <img src="../static/images/my/kefurexian.png" alt="">
                </div>
                <p class="weui_grid_label">
                    客服热线
                </p>
            </a>
            <a href="javascript:;" id="js-to-feedback" class="weui_grid">
                <div class="weui_grid_icon">
                    <img src="../static/images/my/feedback.png" alt="">
                </div>
                <p class="weui_grid_label">
                    意见反馈
                </p>
            </a>
        </div>
    </main>
</div>