<div>
    <h1>网站首页</h1>

    <ul>
        <li><a href="../wash/">家电清洗</a></li>
        <li><a href="../address/">地址管理</a></li>
        <li><a href="../repair/">家电维修</a></li>
        <li><a href="../install/">家电安装</a></li>
        <li><a href="../household/">家居安装</a></li>
        <li><a href="../my/select_test_user.html">选择测试用户</a></li>
        <!--<li><a href="../brands/">品牌列表</a></li>-->
        <li><a href="brands.html">品牌列表</a></li>
    </ul>
</div>