@charset "UTF-8";
@import "../variables";
@import "../utilities";

.brands {
  .com-main {
    .weui_cell_primary{
      margin-left:px2rem(24);
    }
    .img-icon{
      width: px2rem(58);
    }
    .brands_szm {
      background-color: #F0EFF5;
      padding-left: px2rem(34);
      span{
        font-size: px2rem(26);
      }
    }
  }
}